* {
  box-sizing: border-box;
}

:root {
  --main-color: #333333;
  --border-color: #33333333;
  --background-color: #eee;
}

html {
  /* root font size REM */
  /* 1.25 * 16px = 20px */
  font-size: 1.25em;
}

@media (max-width: 320px) {
  html {
    font-size: 1em;
  }
}

body {
  margin: 0;

  font-family: "Times New Roman", Times, serif;
  color: var(--main-color);
}

h2,
p {
  margin: 0;
}

/* GRID */
.grid-cards {
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
}
.pic_container {
  grid-column: 1/-1;
  /* width: 100%; */
}
.pic {
  width: 100%;
  border-radius: 2rem;
}
.card-description {
  margin-top: 1rem;
  line-height: 1.1rem;
}

@media (max-width: 680px) {
  .grid-cards {
    padding: 0.5em;

    grid-template-columns: 1fr;
  }
}

/* CARD */
.card {
  /* padding: 2em; */

  display: grid;
  grid-template-columns: 70% 30%;

  background-color: var(--background-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 2rem;
}
@media (max-width: 320px) {
  .card {
    /* 0.8 * 20px = 16px */
    /* font-size: 80%; */
    flex-wrap: wrap;
  }
}

/* card content */
.card-content {
  margin-right: 1rem;
  padding: 2rem 0 1rem 2rem;
}

.card-title {
  font-size: 2em;
  font-weight: normal;
}

.card-subtitle {
  text-transform: uppercase;
  font-weight: bold;
}

/* card graphic */
.card-graphic {
  padding: 2rem 2rem 2rem 0;
  width: 130px;
  flex-shrink: 0;
  margin: 0 auto;
  text-align: center;
}

.card-number {
  font-size: 2em;
}

.card-symbol {
  display: flex;
  flex-direction: column-reverse;
}

.symbol_line {
  height: 6px;
  margin-bottom: 10px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 43%,
    rgba(238, 238, 238, 1) 43%,
    rgba(238, 238, 238, 1) 59%,
    rgba(31, 31, 31, 1) 59%,
    rgba(28, 28, 28, 1) 71%,
    rgba(0, 0, 0, 1) 100%
  );
}
.full_symbol_line {
  background: var(--main-color);
  height: 6px;
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 320px) {
  .card-graphic {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    order: -1;
    flex-basis: 100%;
  }
  .card-symbol {
    order: -1;
  }
}
